* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  max-width: 500px;
  margin: auto;
  background-color: #333;
  color: white;
  border-radius: 20px;
  padding: 1.5rem;
}

.container h1 {
  margin: 0 0 1rem;
}

.container__input {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.container__input input[type="text"] {
  flex: 1;
  padding: .5rem;
}

#todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#todo-list li {
  padding: .5rem;
  background-color: #777;
  display: flex;
  gap: .5rem;
  margin: .25rem 0;
}

#todo-list li span {
  flex: 1;
}